@page "/catalog"

<div style="background-color:khaki; padding: 50px; border-radius: 10px">
    <h1 align="center">Каталог магазина</h1>
    <br>
    <br>

    <MudGrid Justify="Justify.Center">
        @if(_products is null)
        {
            <div style="display:flex; flex-direction:column">
                <div><MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" /></div>
                <div>Загрузка каталога...</div>
            </div>
            
        }
        else
        {
            @foreach (var product in _products)
            {
                <MudItem>
                    <MudPaper style="background-color:cadetblue; padding: 10px">
                        <MudCard>
                            <ProductItem Product="product" />
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="()=>OpenProduct(product)">Подробнее о товаре</MudButton>
                            </MudCardActions>
                        </MudCard>
                    </MudPaper>
                </MudItem>
            }
        }

    </MudGrid>
</div>

