@page "/catalog"
@inject IMyShopClient MyShopClient
@inject NavigationManager Navigator

<div style="background-color:khaki; padding: 50px; border-radius: 10px">
    <h1 align="center">Каталог магазина</h1>
    <br>
    <br>

    <MudGrid Justify="Justify.Center">
        @foreach (var product in products)
        {
			<MudItem>
                <MudPaper style="background-color:cadetblue; padding: 10px">
                    <MudCard >
					    <ProductItem Product="product" />
					    <MudCardActions>
						    <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="()=>OpenProduct(product)">Подробнее о товаре</MudButton>
					    </MudCardActions>
                    </MudCard>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</div>

